.login-form{
    position: absolute;
    background-color: rgba(0,0,0,.75);
    width: calc(100% - 70%);
    top: 15%;
    left: 0;
    right: 0;
    padding: 40px;
    height: auto;
}
.header{
    padding: 10px;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-form input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 4px;
    background-color: gray;
    margin: 10px 0;
}
.login-form button{
    background-color: red;
    width: 100%;
    padding: 15px 0;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
}
.form-heading{
    font-size: 30px;
    color: #fff;
    padding-bottom: 10px;
}
.signuptext{
    color: gray;
    margin-top: 100px;
}
.signuptext a{
    color: #fff;
}
.learnMoretxt{
    color: gray;
    font-size: 12px;
    line-height: unset;
    margin-top: 15px;
    display: block;
}
.netflix-banner{
    position: absolute;
    top: 0;
}

.logoutBtn{
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
}
.userDetails{
    display: flex;
    align-items: center;
}
.userDetails li{
    margin: 0 10px;
}